<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @author.email %></h1>
    <p>
      Your techword has been visited and by <%= @commenter.email %>
    </p>
    <p>
      You can see the actions on: <%= @url %>.
    </p>
    <p>Congratulations! Keep doing well.</p>
  </body>
</html>