<div class="well">
  <h1 class="text-center"><%= @techword.name %></h1>
</div>

<%= @techword.definition.html_safe %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>
